@using Smartphone.Data.Models

@model Advertisement
@{
    ViewData["Title"] = "Details";
}
<h1>Name - @Model.Name</h1>
<h2>Price - @Model.Price</h2>
<h3>Description:</h3>
<h4>@Model.Description</h4>
<h5>Model Year - @Model.Model.ModelYear</h5>
<h5>Ram - @Model.Model.RAM GB</h5>
<h5>Memory - @Model.Model.Memory GB</h5>
<h5>Back Camera - @Model.Model.BasicCamera</h5>

@if (Model.Image1 == true)
{
    <img src="~/files/@Model.UserId/@Model.MakeId/@Model.ModelId/1.jpg" width="300" height="300"/>
}
@if (Model.Image2 == true)
{
    <img src="~/files/@Model.UserId/@Model.MakeId/@Model.ModelId/2.jpg" width="300" height="300"/>
}

<h1>Contact:</h1>
<div>
    @Model.User.FirstName 
    @Model.User.LastName
    @Model.User.PhoneNumber
    <a href="/user/index/@Model.UserId" >Check profile of @Model.User.UserName</a>
</div>


